<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

<script>

$(window).scroll(function () {

  $("aside").css('top', $(window).scrollTop() - 150 +'px');

});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
      displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
    //,
    //displayAlign: "left",
    //displayIndent: "2em"
  });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;min-width:400px;max-width:970px;width:100%;height:90px"
     data-ad-format="fluid"
     data-ad-layout-key="-8c+16-eu+g5+mz"
     data-ad-client="ca-pub-6334518613732199"
     data-ad-slot="7352578048">
     
</ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
